:root{
    --grey: #e9ecef;
    --accent: #1e90ff;
    --back: rgba(0,0,0,0.2);
    --backh: rgba(0,0,0,0.4);
    --backhh: rgba(0,0,0,0.6);
    --backfont: rgba(255,255,255,0.9);
    --maingrey: #253a3f;
}
@import url('https://fonts.googleapis.com/css?family=Lobster');


 .block_flot {
    display: flex;
    width: 100%;
}
.block_flot div {
    width: 45%;
    background-color: var(--grey);
    padding: 3%;
    border-radius: 20px;
}
.izi{
  font-style: italic;
    color: rgba(255,255,255,0.7);
}
.block_flot div:first-child {
    width: 100%;
    background-color: var(--grey);
    padding: 3%;
    border-radius: 20px;
}
button.btn.btn-primary {
    margin-top: 15px;
}
.block_flot p {
    margin-bottom: 5px;
    margin-top: 10px;
}

.h2, h2 {
    font-size: 1.6rem;
}
.admin .block_flot a.btn.btn-primary {
    width: 100%;
    display: block;
    text-align: left;
}
.admin .block_flot {
    display: block;
    width: 100%;
}
.as_input {
  background: #fff;
  padding: 6px 13px;
  width: 100%;
  border-radius: 5px;
  text-align: left;
  margin-bottom: 0px;
  border: 1px solid #cdcdcd;
  display: inline-block;
  color: var(--maingrey);


}

.col-md-8 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 90.66666667%;
    flex: 0 0 90.666667%;
    max-width: 90.666667%;
}
a.nav-link {
    padding: 12px 8px !important;
}
a.nav-link:hover {
    color: #fff !important;
    background: var(--back);
}
.navbar {
    padding: 0 1rem;
  }
span.akc {
    font-style: italic;
}
.admin_menu {
    display: block;
    width: 100%;
    background: var(--back);
    text-align: center;
    margin-bottom: 20px;
}
.modal-mask {
  position: fixed;
      top: 20px;
      left: 20px;
      width: 100%;
      height: 100%;
      transition: opacity .3s ease;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.modal-container {
  width: 300px;
  margin: 0px auto;
  padding: 10px 15px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
  transition: all .3s ease;
  font-family: Helvetica, Arial, sans-serif;
  border-radius: 10px;
  text-align: center;
}

.modal-header h3 {
  margin-top: 0;
  color: #42b983;
  font-size: 16px;
}

.modal-body {
  margin: 20px 0;
}

.modal-default-button {
  float: right;
}

/*
 * The following styles are auto-applied to elements with
 * transition="modal" when their visibility is toggled
 * by Vue.js.
 *
 * You can easily play with the modal transition by editing
 * these styles.
 */

.modal-enter {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.admin_menu a.btn {
    padding: 12px;
    border-radius: 0px;
    color: var(--backfont);
}
.card {
    border: none;
  }
  .card-header {
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    background-color: transparent;
    border-bottom: none;
    color: var(--backfont);
    font-size: 22px;
    width: 300px;
    text-align: center;
    border-radius: 100px !important;
    margin: 0 auto;
}
.admin_menu a.btn:first-child {

}
.admin_menu a.btn:hover {
    background: var(--backh);
}
.btn.focus, .btn:focus {
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.row_add {
    width: 100% !important;
    padding: 0% !important;
    display: flex;
}
.row_add div {
    width: 47.5% !important;
    padding: 0px !important;
    margin-right: 5%;
}
.row_add div:last-child {
    margin-right: 0% !important;
}
.row_add p {
    font-size: 13px;
}
.disciplines {
    width: 100%;
    display: flex;
    margin-bottom: 20px;
}
.disciplines div {
    width: 32%;
    background: var(--back);
    margin-right: 1%;
    text-align: center;
    padding: 35px 10px;
    border-radius: 15px;
    color: var(--backfont);
}
.disciplines div a {
    background: var(--maingrey);
    color: var(--backfont);
}
.disciplines div a {
    background: var(--maingrey);
    color: var(--backfont);
    padding: 7px 10px;
    margin-top: 15px !important;
    /* display: block; */
    border-radius: 7px;
}
tr {
    border-style: solid;
    border-width: 0 0px 1px 0;
    border-color: rgba(255,255,255,0.2);
}
td {
    border-style: solid;
    border-width: 0 1px 1px 1px;
    border-color: rgba(255,255,255,0.2);
    padding: 6px 5px 6px 10px;
    color: var(--backfont) !important;
}
table {
    width: 99%;
    text-align: center;
    box-shadow: 0 0 7px rgba(0,0,0,0.2);
    border-radius: 9px;
    margin: 4px;
}
th {
    border-style: solid;
    border-width: 0px 0px 0px 0px;
    border-color: var(--grey);
    background: var(--grey);
    padding: 2px 5px 2px 5px;
}
th:first-child {
    text-align: left;
    border-top-left-radius: 10px;
}
th:last-child {
    border-top-right-radius: 10px;
}
td:first-child {

    text-align: center;
}
.disciplines div:last-child {
    margin-right: 0%;
}
thead {
    color: var(--backfont);
}
.navbar-light .navbar-brand, .navbar-light .navbar-brand:focus, .navbar-light .navbar-brand:hover {
    color: var(--backfont);
}
.navbar-light .navbar-nav .nav-link {
    color: var(--backfont);
}
a {
    text-decoration: none !important;
    color: var(--backfont);
}
.breadcrumb {
    display: none;
}
.tabs a {
  border-radius: 20px;
  padding: 5px 10px;
  margin-top: 15px;
  display: inline-block;
  background: var(--back);
  color: var(--backfont) !important;
  border: none;
  cursor: pointer;
  margin-right: 6px;

}
/*table[class^='body_']{
display:none;
padding:15px 20px;
}*/

.tabs a:hover {
  background: var(--backh);
}
.footer {
    height: 200px;
    background: var(--back);
    text-align: center;
    color: var(--backfont) !important;
}

button:focus, a:focus {
outline: none !important;
}
.tabs {
    margin-bottom: 15px;
    text-align: center;
}

td:first-child {
    border-width: 0px 0px 0px 0px;
}
tr:last-child {
    border-radius: 10px !important;
    border-width: 0px;
}
tr:last-child td:first-child {
    border-width: 0px 0px 0px 0px;
    /* border-radius: 9px; */
}
.tabs a.active {
    background: var(--backh);
}

.tabs a.active:hover {
    background: var(--backhh);
}

.raz {
    overflow-x: auto;
    width: 100%;
}
#chp{
display: none;
width: 100% !important;
}
#chl{
display: none;
width: 100% !important;
}
#cht{
display: none;
width: 100% !important;
}
#chr{
display: none;
width: 100% !important;
}
#chp2{
display: none;
width: 100% !important;
}
#chl2{
display: none;
width: 100% !important;
}
#cht2{
display: none;
width: 100% !important;
}
#chr2{
display: none;
width: 100% !important;
}
#chp3{
display: none;
width: 100% !important;
}
#chl3{
display: none;
width: 100% !important;
}
#cht3{
display: none;
width: 100% !important;
}
#chr3{
display: none;
width: 100% !important;
}
.row_add div {
    width: 100% !important;
}
.row-param {
    padding-top: 15px;
    margin-top: 15px;
}
.h {
    font-size: 15px;
    padding: 5px 10px 5px 10px;
    background: transparent;
    color: #222;
    border-bottom: 1px dotted #1e90ff;
}
.container-f div {
    display: inline-block;
    margin-right: 2.9%;
    width: 30%;
}
.container-f div p {
    margin: 0px;
    font-size: 13px;
    font-style: italic;
}
.percent-input {
    width: 40px;
    border-radius: 5px;
}
.row-range {
    width: 100% !important;
    display: flex !important;
}
.range-in {
    border-radius: 14px !important;
    height: 8px !important;
    background: var(--accent);
    -webkit-appearance: none;
    margin-top: 13px;
    margin-right: 10px;
    margin-bottom: 13px;
}
.range-in::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 13px;
    height: 13px;
    background: rgba(0,77,153);
    border-radius: 14px !important;
}

.rs_chek {
    height: 20px;
    display: inline-block;
    width: 20px;
    border-radius: 20px !important;
    -webkit-appearance: none;
    border-color: green;
    margin-left: 8px;
    position: absolute;
    margin-top: 2px;


}
.rs_chek:checked {
  background: var(--primary);
}
.bonus-p{
width: 200px;
background: var(--back);
padding: 7px 23px 10px;
color: var(--backfont);
border-radius: 40px;
margin-top: 20px;

}
.percent-input {
    width: 40px;
    border-radius: 5px;
    -webkit-appearance: none;
    box-shadow: none !important;
    border: 1px solid var(--accent);
    padding-left: 7px;
    background: transparent;
}
span.range-sp {
    border: 1px solid #1e90ff;
    border-radius: 5px;
    padding-left: 8px;
    margin-right: 8px;
}
.modal-header {
    padding: 10px;
    border-bottom: none;
    padding-bottom: 0px;
    display: block;
  }
  .hide{
    display: none;
  }
  .activet{
    display: block;
  }
  .winner {
    padding: 5px 10px;
    margin-top: 15px;
    display: inline-block;
    color: var(--backfont);
}
.btn-stand {
    border-radius: 20px;
    padding: 5px 10px;
    margin-top: 15px;
    display: inline-block;
    background: var(--back);
    color: var(--backfont);
    border: none;
    cursor: pointer;
}
.btn-stand:hover {
    background: var(--backh);
}
body {
    background: #43cea2;
    background: -webkit-linear-gradient(to right, #185a9d, #43cea2);
    background: linear-gradient(to right, #185a9d, #43cea2);
}
.card {
    background-color: transparent;
  }
  .navbar-laravel {
    background: var(--maingrey);
  }
  th {
    background: var(--back);
  }
  tr {
    background: var(--back);
  }
  td:last-child {
    border-right: none;
  }
  tr:last-child td {
    border-bottom: none;
   }
